.avatar{
    color: #f56a00;
    background-color: #fde3cf;
    margin-top: -2px;
    margin-right: 8px;
}

.profile-button{
    height: 47px;
    border: none;
    box-shadow: none;
    outline-color: none;
}

.profile-button:hover{
    background-color: #FAFAFA;
}

.profile-button::after{
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}