#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .site-layout-sub-header-background {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    padding: 0;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .ant-btn:hover, .ant-btn:focus{
    color: black !important;
  }